{{!-- src/views/tickets.hbs --}}

<h2>Tickets de Compra</h2>

{{#if tickets}}
    <table class="tickets-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Comprador</th>
                <th>Fecha de Compra</th>
                <th>Monto Total</th>
                <th>Detalles</th>
            </tr>
        </thead>
        <tbody>
            {{#each tickets}}
            <tr>
                <td>{{this.code}}</td>
                <td>{{this.purchaser}}</td>
                <td>{{formatDate this.purchase_datetime}}</td>
                <td>${{this.amount}}</td>
                <td><a href="/tickets/{{this.code}}">Ver Detalles</a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
{{else}}
    <div class="alert-message">
        <p>No hay tickets de compra registrados.</p>
    </div>
{{/if}}

{{!-- <a href="/products" class="back-link">Volver a Productos</a> --}}