<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body data-user-cart-id="{{user.cartId}}">
    <header>
        <div class="container">
            <h1>Disquería Back</h1>
            <nav>
                {{#if user}}
                    <span>Bienvenido, {{user.first_name}} {{user.last_name}} ({{user.role}})</span>
                    <a href="/products">Productos</a>
                    
                    {{#ifEquals user.role "admin"}}
                        <a href="/admin/create-product">Crear Producto</a>
                    {{/ifEquals}}

                    {{!-- Icono del carrito con contador (solo para usuarios) --}}
                    {{#ifEquals user.role "user"}}
                        <a href="/cart" class="cart-icon-link">
                            <i class="fas fa-shopping-cart"></i> 
                            <span id="cart-item-count" class="cart-item-count">0</span>
                        </a>
                    {{/ifEquals}}

                    <form action="/api/sessions/logout" method="POST" style="display:inline;">
                        <button type="submit" style="background:none; border:none; padding:0; cursor:pointer; color:inherit; text-decoration:underline;">Cerrar Sesión</button>
                    </form>
                {{else}}
                    <a href="/login">Iniciar Sesión</a>
                    <a href="/register">Registrarse</a>
                {{/if}}
            </nav>
        </div>    
    </header>
    <main class="container">
        {{{body}}}
    </main>
    <footer>
        <div class="container">
            <p>&copy; 2025 - Hecho por <a href="https://danielcolladodev.com.ar" target="_blank" style="color: #f0f0f0; text-decoration: none;">danielcolladodev</a></p>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>